<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <record id="user_mobile_inherit" model="ir.ui.view">
            <field name="name">res.users.mobile.inherit</field>
            <field name="model">res.users</field>
            <field name="inherit_id" ref="base.view_users_form"/>
            <field name="arch" type="xml">
                <xpath expr="//div[@class='oe_title']" position="inside">
                    <group>
                        <field name="mobile_number" placeholder="e.g. +1234567890"/>
                    </group>
                </xpath>
            </field>
        </record>

        <menuitem id="menu_user_list"
                  name="User Master"
                  parent="lease_management.sub_root_admin"
                  sequence="19"/>
    </data>
</odoo>
